/*!***************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/postcss-loader/dist/cjs.js!../../node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \***************************************************************************************************************************************************************/
@charset "UTF-8";
/*********************
Global
*********************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  /* псевдокласс выделения */
  color: #fff;
  background-color: #2B7DED;
}

::selection {
  /* псевдокласс выделения */
  color: #fff;
  background-color: #2B7DED;
}

/* font*/
html {
  font-family: Arial, serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Arial, sans-serif;
}

@media (max-width: 992px) {
  html {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 0.8rem;
  }
}
body {
  margin: 0;
  padding: 0;
}

/* Конец Global */
/****************
Фоновые цвета
****************/
/* переменные для цветов */
:root {
  --red: #dc143c;
  --red-dark: #b01030;
  --red-light: #ee3e61;
  --sand: #e2946f;
  --sand-dark: #e2946f;
  --sand-light: #e8a98b;
  --yellow: #f0b200;
  --yellow-dark: #795b16;
  --yellow-light: #ffcc20;
  --olive: #808000;
  --olive-dark: #585806;
  --olive-light: #bebe23;
  --green: #008000;
  --green-dark: #006600;
  --green-light: #00a000;
  --dodgerblue: #1e90ff;
  --dodgerblue-dark: #0074e4;
  --dodgerblue-light: #65b3ff;
  --blue: #0000ff;
  --blue-dark: #0000ff;
  --blue-light: #0088ff;
  --brown: #8B4513;
  --brown-dark: #8B4513;
  --brown-light: #c08457;
  --bg-dark1: #222;
  --txt-dark1: #f4f4f4;
  --silver: #c0c0c0;
  --silver-dark: #A9A9A9;
  --silver-light: #D3D3D3;
}

/* красный */
.page_red {
  background-color: #b01030;
  background-color: var(--red-dark);
}

.page_red .nav a.active,
.page_red .nav a:hover,
.page_red aside a.active,
.page_red aside a:hover,
.page_red .columns h3,
.page_red .list h3,
li.red {
  background-color: #ee3e61;
  background-color: var(--red-light);
}

.page_red .list h2 {
  background-color: #dc143c;
  background-color: var(--red);
}

/* красный */
/* песочный*/
.page_sand {
  background-color: #e2946f;
  background-color: var(--sand-dark);
}

.page_sand .nav a.active,
.page_sand .nav a:hover,
.page_sand aside a.active,
.page_sand aside a:hover,
.page_sand .columns h3,
.page_sand .list h3 {
  background-color: #e8a98b;
  background-color: var(--sand-light);
}

.page_sand .list h2 {
  background-color: #e2946f;
  background-color: var(--sand);
}

/* песочный */
/* желтый */
.page_yellow {
  background-color: #795b16;
  background-color: var(--yellow-dark);
}

.page_yellow .nav a.active,
.page_yellow .nav a:hover,
.page_yellow aside a:hover,
.page_yellow aside a.active,
.page_yellow .columns h3,
.page_yellow .list h3,
li.yellow {
  background-color: #ffcc20;
  background-color: var(--yellow-light);
}

.page_yellow .list h2 {
  background-color: #f0b200;
  background-color: var(--yellow);
}

/* желтый */
/* оливковый */
.page_olive {
  background-color: #585806;
  background-color: var(--olive-dark);
}

.page_olive .nav a.active,
.page_olive .nav a:hover,
.page_olive aside a:hover,
.page_olive aside a.active,
.page_olive .columns h3,
.page_olive .list h3,
li.olive {
  background-color: #bebe23;
  background-color: var(--olive-light);
}

.page_olive .list h2 {
  background-color: #808000;
  background-color: var(--olive);
}

/* оливковый */
/* зеленый */
.page_green {
  background-color: #006600;
  background-color: var(--green-dark);
}

.page_green .nav a.active,
.page_green .nav a:hover,
.page_green aside a.active,
.page_green aside a:hover,
.page_green .columns h3,
.page_green .list h3,
li.green {
  background-color: #00a000;
  background-color: var(--green-light);
}

.page_green .list h2 {
  background-color: #008000;
  background-color: var(--green);
}

/* зеленый */
/* dodgerblue защитно-синий */
.page_dodgerblue {
  background-color: #0074e4;
  background-color: var(--dodgerblue-dark);
}

.page_dodgerblue .nav a.active,
.page_dodgerblue .nav a:hover,
.page_dodgerblue aside a.active,
.page_dodgerblue aside a:hover,
.page_dodgerblue .columns h3,
.page_dodgerblue .list h3,
li.dodgerblue {
  background-color: #65b3ff;
  background-color: var(--dodgerblue-light);
}

.page_dodgerblue .list h2 {
  background-color: #1e90ff;
  background-color: var(--dodgerblue);
}

/* dodgerblue защитно-синий */
/* синий */
.page_blue {
  background-color: #0000ff;
  background-color: var(--blue-dark);
  /* синий цвет */
}

.page_blue .nav a.active,
.page_blue .nav a:hover,
.page_blue aside a.active,
.page_blue aside a:hover,
.page_blue .columns h3,
.page_blue .list h3,
.li_blue {
  background-color: #0088ff;
  background-color: var(--blue-light);
  /* светло-синий цвет */
}

.page_blue .list h2 {
  background-color: #0000ff;
  background-color: var(--blue);
}

/* синий */
/* коричневый */
.page_brown {
  background-color: #8B4513;
  background-color: var(--brown-dark);
  /* темно-коричневый цвет */
}

.page_brown .nav a.active,
.page_brown .nav a:hover,
.page_brown aside a.active,
.page_brown aside a:hover,
.page_brown .columns h3,
.page_brown .list h3,
.li_brown {
  background-color: #c08457;
  background-color: var(--brown-light);
  /* светло-коричневый цвет */
}

.page_brown .list h2 {
  background-color: #8B4513;
  background-color: var(--brown);
  /* коричневый цвет */
}

/* коричневый */
/* серебряный */
.page_silver {
  background-color: #A9A9A9;
  background-color: var(--silver-dark);
  /* темно-серебряный цвет */
}

.page_silver .nav a.active,
.page_silver .nav a:hover,
.page_silver aside a.active,
.page_silver aside a:hover,
.page_silver .columns h3,
.page_silver .list h3,
.li_silver {
  background-color: #D3D3D3;
  background-color: var(--silver-light);
  /* светло-серебряный цвет */
}

.page_silver .list h2 {
  background-color: #c0c0c0;
  background-color: var(--silver);
  /* серебряный цвет */
}

/* серебряный */
/* Конец - Фоновые цвета */
/*********************
Page
*********************/
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  min-height: 100vh;
  min-width: 400px;
}

.container {
  margin: 10px auto 0;
  width: 100%;
  max-width: 1440px;
}

a,
a:visited {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: underline;
  color: #865;
  cursor: pointer;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

p {
  margin: 0.2em 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.border {
  border: 1px solid #333;
}

.none {
  display: none;
}

/* details*/
details {
  margin-bottom: 0;
  padding-bottom: 0;
}

details[open] {
  padding-left: 20px;
  border-left: 2px solid #333;
}

details summary {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 700;
  cursor: pointer;
}

/* pre*/
pre,
code {
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #f5f2f0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.pre_function {
  color: #DD4A68;
}

.pre_keyword {
  color: #07a;
}

/* showhide*/
.showhide__h {
  cursor: pointer;
}

/* Конец Page */
/*********************
nav
*********************/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
  text-align: center;
  border: 5px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px #222;
          box-shadow: 4px 6px #222;
  /* тень на 4px вправо и 6px вниз */
}
.nav a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  border: 5px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px #222;
          box-shadow: 4px 6px #222;
}
.nav a.active {
  font-size: 1.5em;
}

#main-nav {
  margin-bottom: 10px;
}

@media (max-width: 580px) {
  .nav {
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav a {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 4px 6px #222;
            box-shadow: 4px 6px #222;
  }
}
/* Конец Nav */
/*********************
Aside
*********************/
.aside {
  width: 180px;
  background: none;
  /* Стилизация ссылок левого меню */
}
.aside a {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 5px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 580px) {
  .aside {
    width: 132px;
  }
  .aside a {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
  }
}
/* Конец Aside */
/*********************
MAIN
*********************/
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 320px;
  vertical-align: top;
}

.main__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

/* Конец Main */
/*********************
List
*********************/
.list {
  padding: 10px;
  width: 100%;
  border: 5px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px;
          box-shadow: 4px 6px;
  /* тень на 4px вправо и 6px вниз */
}
.list h2 {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.list h3 {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 6px;
          box-shadow: 4px 6px;
}
.list ol > li {
  margin: 10px;
  padding: 10px;
  list-style-position: inside;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px;
          box-shadow: 4px 6px;
}
.list ul > li {
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px;
          box-shadow: 4px 6px;
}
.list li:nth-child(odd) {
  background-color: antiquewhite;
}
.list li:nth-child(even) {
  background-color: #f8d6a9;
}
.list li.over {
  background-color: #af8650;
}
.list li p {
  padding: 5px 0;
}
/*!**********************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/postcss-loader/dist/cjs.js!../../node_modules/sass-loader/dist/cjs.js!./src/components/header/header.scss ***!
  \**********************************************************************************************************************************************************************************/
@charset "UTF-8";
/*********************
Header
*********************/
.header__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: monospace, sans-serif;
}

.header__logo,
.header__logo a {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* Конец Header */
/*!**********************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/postcss-loader/dist/cjs.js!../../node_modules/sass-loader/dist/cjs.js!./src/components/footer/footer.scss ***!
  \**********************************************************************************************************************************************************************************/
@charset "UTF-8";
/*********************
Footer
*********************/
.footer {
  padding: 0.7em;
  border: 5px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px;
          box-shadow: 4px 6px;
}

.footer__logo {
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}

@media (max-width: 580px) {
  .footer__logo {
    font-size: 20px;
  }
}
/* Конец Footer */

/*# sourceMappingURL=style.css.map*/